.lightBox{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.rankDiv{
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.citySelect{
    width: 360px;
    height: 501px;
    background-color: white;

    & .title{
        width: 100%;
        height: 60px;
        line-height: 60px;
        border-bottom: 1px solid #666;
        text-align: center;
        font-size: 18px;
        color: #555;
        font-weight: bold;
    }
    & .cityList{
        width: 100%;
        height: 440px;
        overflow-y: scroll;

        & .cityList_name{
            width: 100%;
            line-height: 44px;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            height: 44px;

            &:hover{
                background-color: #eee;
                cursor: pointer;
            }
        }
    }
}
