.combine{
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    height: calc(100vh - 120px);

    &__main{
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #e0e0e0;
        width: 680px;
    }

    &__left{
        width: 700px;
        float: left;
    }
    &__map{
        float: right;
        width: calc(100% - 700px);
        height: 100%;
    }

    &__name__prime{
        line-height: 50px;
        font-size: 20px;
        font-weight: bold;
    }

    &__prime{
        overflow: hidden;

        &__left{
            float: left;
        }
    }
    &__nextStep{
        float: left;
        margin-left: 110px;
        width: 100px;
        text-align: center;
        height: 40px;
        margin-top: 20px;
        line-height: 40px;
        font-size: 20px;
        font-weight: bold;
        box-sizing: border-box;
        border: 1px solid #888;
        border-radius: 50px;
        cursor: pointer;

        &:hover{
            border: 1px solid #444;
        }
    }

    &__line{
        overflow: hidden;
    }

    &__subTitle{
        float: left;
        height: 40px;
        line-height: 40px;
        width: 80px;
        font-size: 17px;
        font-weight: bold;
        color:#666;
    }
    &__input{
        float: left;
        box-sizing: border-box;
        height: 32px;
        margin-top: 4px;
        border: 1px solid #999;
        padding: 0 20px;
        border-radius: 2px;
        width: 300px;
    }

    &__coordinate{
        float: left;
        line-height: 40px;
        margin-left: 12px;
    }


    &__target{
        &__div{
            overflow: hidden;
            width: 680px;
            height: 60px;
            margin-top: 10px;
            border-bottom: 1px solid #999;
        }
        &__number{
            float: left;
            width: 40px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            font-size: 20px;
        }
        &__check{
            float: left;
            width: 24px;
            height: 24px;
            margin-top: 13px;
            margin-right: 20px;
            box-sizing: border-box;
            border:2px solid #aaa;
            cursor: pointer;
        }
        &__checked{
            background-image: url("./assets/check.png");
            background-size: 14px 14px;
            background-repeat: no-repeat;
            background-position: left 3px top 3px;
        }
        &__name{
            height: 50px;
            line-height: 50px;
            float: left;
            box-sizing: border-box;
            font-size: 17px;
            font-weight: bold;
        }
    }
}
