.attend{
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;

    &__top{
        overflow: hidden;
        padding-top: 10px;
        display: flex;
        justify-content: center;
    }

    #calendar{
        float: left;
        width: 820px;

        & .fc-header-toolbar{
            margin-bottom: 14px;
            height: 36px;
        }

        & .fc-day-number{
            font-size: 14px;
            color: #333;
        }
        & .fc-left{
            overflow: hidden;
        }

        & h2{
            float: left;
            font-size: 24px;
            line-height: 32px;
            height: 32px;
            margin-left: 10px;
        }

        & .fc-day{
            text-align: center;
            line-height: 72px;
            height: 72px;
            color: #666;
            font-weight: bold;
            padding:20px 0 12px 0;
            box-sizing: border-box;
            position: relative;
            cursor: pointer;
            font-size: 15px;

            & p{
                line-height: 25px;

                &:last-child{
                    font-weight: bold;
                }
            }
        }
        & .fc-other-month{
            color:#dadada;
            font-weight: normal;
            background-color: white;
        }
        & .fc-other-month.fc-today{
            background-color: #fffefa;
        }

        & .fc-week{
            height: 82px;
        }
    }

    &__week{
        float: left;
        width: 100px;
        margin-left: 40px;
        height: 496px;
        margin-top: 68px;

        &__hour{
            height: 83px;
            line-height: 83px;
            font-size: 17px;
        }
    }

    &__month{
        width: 670px;
        margin: 20px auto;

        &__line{
            overflow: hidden;
            height: 32px;
            line-height: 32px;

            &>*{
                float: left;
            }

            &--red{
                &>.attend__month__value{
                    color: #E72C33;
                }
            }
            &--sum{
                margin-top: 10px;
                &>.attend__month__value, .attend__month__category{
                    font-weight: bold;
                    font-size: 17px;
                }
            }
        }

        &__category{
            width: 120px;
        }

        &__value{
            width: 110px;
            text-align: right;
            margin-right: 40px;
        }

        &__explain{
            width: 400px;
            color: #999;
            font-size: 15px;
        }


    }

}


.inputWindow{
    width: 370px;
    height: 250px;
    background-color: white;

    & .title{
        height: 40px;
        line-height: 60px;
        margin-left: 24px;
        font-size: 18px;
        font-weight: bold;
        color: #777;
    }

    & .line{
        height: 50px;
        margin-top: 20px;
        line-height: 50px;

        &>*{
            float: left;
        }
        &>input{
            margin-top: 8px;
            height: 36px;
            width: 100px;
            margin-left: 24px;
            margin-right: 12px;
            box-sizing: border-box;
            border: 1px solid #666;
            box-sizing: border-box;
            padding-left: 12px;
            font-size: 16px;
        }
    }

    & .bottom{
        width: 100%;
        overflow: hidden;
        height: 50px;
        margin-top: 20px;
        line-height: 50px;

        & .confirm, .close{
            width: 185px;
            float: left;
            text-align: center;
            font-size: 17px;
            cursor: pointer;
            box-sizing: border-box;
            border-top: 1px solid #555;
        }

        & .confirm{
            border-right: 1px solid #555;
        }
    }
}
