.helloWorld{
    float: right;
    line-height: 60px;
    padding-right: 30px;
    color: #fafafa;
    letter-spacing: 0.5px;
    cursor: default;
}
.alert{
    float: right;
    width: 120px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 2px;
    background-color: #E72C33;
    color: #FBF5F9;
    font-weight: bold;
    cursor: pointer;
    font-size: 24px;
}
