.city{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;

    .header{
        width: 100%;
        height: 80px;
        overflow: hidden;
        line-height:80px;

        h2{
            float: left;
            margin: 0 20px;
        }

        .refresh{
            float: left;
            margin-left: 50px;
            cursor: pointer;
        }
    }

    .line{
        overflow: hidden;
        width: 100%;
        height: 40px;
        line-height: 40px;

        p{
            float: left;
            text-align: center;
            font-size: 17px;
            padding: 0 30px;

            &:hover{
                cursor: pointer;
                text-decoration: underline;
            }
        }

        .name{
            width: 180px;
            padding: 0 40px;
            &:hover{
                cursor: default;
                text-decoration: none;
            }
        }
        .nodata{
            color:red;
        }
    }

    &__hotels{
        width: 150px;
    }
    &__spots{
        width: 150px;
    }
    &__transport{
        width:150px;
    }
    &__area{
        width: 40px;
    }
    &__price{
        width: 40px;
    }

    .line.top{
        height: 50px;
        border-bottom: 1px solid #777;
        line-height: 50px;
        left: 30px;
        background-color: white;
        border-top:none;
        margin-bottom:12px;
        p{
            &:hover{
                cursor: default;
                text-decoration: none;
                padding-bottom:12px;
            }
        }
    }
}
