.infowindow{
    width: 240px;
    overflow: hidden;
}
.infoTitle{
    font-size: 16px;
    margin: 20px 0 12px 0;
    line-height: 20px;
    font-weight: bold;
    color: #333333;
    letter-spacing: -0.7px;
    padding:0 16px;
    word-break:keep-all;
}
.infoDesc{
    font-size: 14px;
    line-height: 22px;
    color: #666666;
    font-weight: bold;
    margin-bottom: 8px;
    padding:0 16px;
    letter-spacing: -0.4px;
}
.gm-style-pbc+div>div:nth-child(2)>div:nth-child(4)>div{
    width: 240px !important;
    transform:translateX(23px)
} 
.gm-style-pbc+div>div:nth-child(2)>div:nth-child(4)>div>div:first-child>div:nth-child(2){
    width: 240px !important;
}
.gm-style-pbc+div>div:nth-child(2)>div:nth-child(4)>div>div:first-child>div:nth-child(4){
    width: 240px !important;
    top:0 !important;
    left:0 !important;
}
.gm-style-pbc+div>div:nth-child(2)>div:nth-child(4)>div>div:first-child>div:nth-child(3)>div:first-child{
    left: -30px !important;
}
.gm-style-pbc+div>div:nth-child(2)>div:nth-child(4)>div>div:first-child>div:nth-child(3)>div:nth-child(2){
    left: -14px !important;
}
.gm-style-pbc+div>div:nth-child(2)>div:nth-child(4)>div>div:first-child>div:first-child{
    transform:translateX(-22px);
}
/* 아래는 닫기 표시를 없애는 css인데, 요걸 추가해버리면 커스텀 iw 뿐만 아니라 모든 iw창에 닫기가 없어져버림 */
/* .gm-style-iw + div {display: none;} */
.gm-style-iw{
    top:0 !important;
    left:0 !important;
    width: 240px !important;
    border:none !important;
}