.selector{
    &_imgBox{
        width: 380px;
        height: 160px;
        overflow: hidden;
        position: relative;
        & img{
            width: 400px;
            height: auto;
        }
    }
    &_optBox{
        width: 380px;
        height: 36px;
        
    }
    &_infoBox{
        width: 380px;
        height: calc(100% - 252px);
        overflow: auto;

        & .ib{
            user-select: none;

            &_box{
                overflow: hidden;
                width: 360px;
                height: 60px;
                cursor: pointer;
                color: #333333;

                &:hover{
                    color: #5d85ff;

                    & .ib_toggle{
                        background-image: url("./assets/list-minus.png");
                    }
                }
            }
            &_pin{
                float: left;
                width: 32px;
                height: 32px;
                margin: 14px;
                background-image: url("./assets/pin-on.png");
            }
            &_rank{
                float: left;
                height: 60px;
                line-height: 58px;
                font-size: 20px;
                letter-spacing: -0.6px;
                width: 36px;
            }
            &_name{
                float: left;
                height: 60px;
                line-height: 59px;
                font-size:15px;
                font-weight: bold;
                letter-spacing: -0.8px;
                user-select: none;
            }
            &_toggle{
                float: right;
                width: 32px;
                height: 32px;
                margin: 14px 2px;
                background-image: none;
            }
        }
    }

    &_allBox{
        overflow: hidden;
        width: 380px;
        height: 56px;

        &>*{
            width: 96px;
            height: 28px;
            box-sizing: border-box;
            float: right;
            border-radius: 3px;
            border: solid 1px #e0e0e0;
            font-size: 13px;
            text-align:right;
            padding: 3px 12px 3px 8px;
            color: #555555;
            letter-spacing: -0.4px;
            cursor: pointer;
            
            &>p{
                float: right;
                margin-top: 1px;
            }
            &>span{
                float: left;
                width: 20px;
                height: 20px;
                background-size: contain;
            }
        }

        &>.ab_unSelect{
            margin: 14px 20px 14px 8px;
        }
        & .ab_on{
            background-image: url("./assets/pin-on.png");
        }
        & .ab_off{
            background-image: url("./assets/pin-off.png");
        }
        &>.ab_select{
            margin-top: 14px;
        }
    }
}

.unSelected{
    color: #b4b2b8 !important;

    & .ib_pin{
        background-image: url("./assets/pin-off.png");
    }

    &:hover{
        color: #5d85ff !important;

        & .ib_toggle{
            background-image: url("./assets/list-plus.png") !important;
        }
    }
}