/*직접 수정하지 말 것. gulp>sprite.css를 통해 자동 생성된 파일.*/

.icon{
    background-image: url('/assets/sprites/sprite-b529035e.svg');
}

.icon--drop {
    width: 24px;
    height: 24px;
    background-position: 100% 0;
}

.icon--drop-small {
    width: 8px;
    height: 8px;
    background-position: 85.18518518518519% 31.57894736842105%;
}

.icon--logo {
    width: 92px;
    height: 48px;
    background-position: 0 0;
}

.icon--pin-off {
    width: 36px;
    height: 36px;
    background-position: 0 100%;
}

.icon--pin-on {
    width: 36px;
    height: 36px;
    background-position: 45% 100%;
}
