/*직접 수정하지 말 것. gulp>sprite.css를 통해 자동 생성된 파일.*/

.icon{
    background-image: url('/assets/sprites/sprite-ac89a738.svg');
}

.icon--bluepin {
    width: 20px;
    height: 28px;
    background-position: 0 52.94117647058823%;
}

.icon--calendar {
    width: 24px;
    height: 24px;
    background-position: 27.77777777777778% 49.09090909090909%;
}

.icon--city {
    width: 24px;
    height: 24px;
    background-position: 61.111111111111114% 49.09090909090909%;
}

.icon--during {
    width: 16px;
    height: 16px;
    background-position: 60% 87.3015873015873%;
}

.icon--fee {
    width: 16px;
    height: 16px;
    background-position: 80% 87.3015873015873%;
}

.icon--logo {
    width: 80px;
    height: 27px;
    background-position: 0 0;
}

.icon--open {
    width: 16px;
    height: 16px;
    background-position: 100% 0;
}

.icon--reset {
    width: 24px;
    height: 24px;
    background-position: 0 100%;
}

.icon--share {
    width: 24px;
    height: 24px;
    background-position: 33.333333333333336% 100%;
}

.icon--web {
    width: 16px;
    height: 16px;
    background-position: 100% 25.396825396825395%;
}
