.subway{
    width: 100%;
    height: calc(100vh - 60px);
    overflow: hidden;

    &__map{
        float: left;
        width: calc(100% - 700px);
        height: 100%;
    }
    &__info{
        float: left;
        width: 700px;
        height: 100%;
        box-sizing: border-box;
        padding: 30px;
        padding-top: 10px;
        overflow-y: auto;

        &__title{
            line-height: 30px;
            margin-top: 20px;
            margin-bottom: 10px;
        }

        &__line{
            overflow: hidden;
            width: 100%;
            height: 40px;
            line-height: 40px;

            &>*{
                float: left;
            }
        }
        &__lineName{
            height: 22px;
            width: 22px;
            border-radius: 20px;
            line-height: 24px;
            text-align: center;
            color:white;
            font-size: 13px;
            margin-top: 8px;
            margin-right: 20px;
        }
        &__dif{
            width: 100px;
        }

        &__byStn{
            &__line{
                overflow: hidden;
                width: 100%;
                height: 40px;
                line-height: 40px;

                &>*{
                    float: left;
                }
            }
            &__lineLine{
                overflow: hidden;
                &>*{
                    float: left;
                    margin-right: 4px !important;
                }
            }

            &__stnName{
                width: 250px;
            }
            &__lineName{
                height: 22px;
                width: 22px;
                border-radius: 20px;
                line-height: 24px;
                text-align: center;
                color:white;
                font-size: 13px;
                margin-top: 8px;
                margin-right: 20px;
            }
            &__dif{
                width: 100px;
            }
        }

        & .ln_{
            &A{background-color: #0039A6;}
            &C{background-color: #0039A6;}
            &E{background-color: #0039A6;}
            &B{background-color: #FF6319;}
            &D{background-color: #FF6319;}
            &F{background-color: #FF6319;}
            &M{background-color: #FF6319;}
            &G{background-color: #6cbe45;}
            &J{background-color: #996633;}
            &Z{background-color: #996633;}
            &L{background-color: #a7a9ac;}
            &N{background-color: #fccc0a;}
            &Q{background-color: #fccc0a;}
            &R{background-color: #fccc0a;}
            &W{background-color: #fccc0a;}
            &S{background-color: #808183;}
            &1{background-color: #ee352e;}
            &2{background-color: #ee352e;}
            &3{background-color: #ee352e;}
            &4{background-color: #00933c;}
            &5{background-color: #00933c;}
            &6{background-color: #00933c;}
            &7{background-color: #b933ad;}
        }
    }
}
