.view{

    .wrapper{
        width: 100%;
        height: 100%;
        overflow: hidden;

        .left{
            width: calc(100% - 900px);
            height: 100%;
            float: left;
        }

        .right{
            width: 900px;
            height: 100%;
            float: left;
            box-sizing: border-box;
            padding: 0 20px;

            .header{
                width: 100%;
                height: 50px;
                box-sizing:border-box;
                border-top: 2px solid #888;
                border-bottom: 2px solid #888;

                .ul{
                    overflow: hidden;
                }

                .dropdown{
                    cursor: pointer;
                    margin: 0 10px;
                    display: inline-block;

                    .dropbtn{
                        font-size:17px;
                        color: #555;
                        padding: 0 20px;
                        line-height: 48px;
                        font-weight:bold;
                    }

                    &__content{
                        display: none;
                        position: absolute;
                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        z-index: 1;
                        background: #fff;

                        p{
                            line-height:50px;
                            padding-left:20px;

                            &:hover{
                                background-color:#eee;
                            }
                        }
                    }

                    &:hover{
                        background-color:#555;
                        .dropbtn{
                            color:#fff;
                        }

                        & .dropdown__content{
                            display:block;
                        }
                    }
                }

            }
        }
    }



    .setter{
        width: 100%;
        overflow: hidden;
        height: 50px;
        box-sizing: border-box;
        padding: 0 20px;

        h3{
            line-height:50px;
            float: left;
            font-weight: bold;
        }

        &__radius{
            margin-left: 20px;
            float: left;
            height: 50px;
            line-height: 50px;

            &__input{
                height: 32px;
                border: 1px solid #999;
                margin-left: 12px;
                width: 60px;
                box-sizing: border-box;
                padding-right: 12px;
                text-align: right;
            }
        }
    }


    .viewer{
        width: 100%;
        height: calc(100% - 120px);
        overflow: auto;

        .subTitle{
            width:100%;
            height: 40px;
            font-weight: bold;
            margin-top: 30px;
        }

        .metro__info{
            width: 100%;
            box-sizing: border-box;
            padding-left: 20px;

            &__stn{
                width: 100%;
                height: 50px;
                overflow: hidden;
                line-height: 50px;

                &__name{
                    float: left;
                    font-weight:bold;
                    color:#555;
                    width: 320px;
                }

                &__line{
                    float: left;
                    overflow: hidden;
                    margin-left: 12px;
                    width: 250px;
                }

                &__dif{
                    width: 80px;
                    float: left;
                }
            }

            &__lineName{
                float: left;
                height: 24px;
                margin-top: 13px;
                margin-right:4px;
                width:24px;
                border-radius:30px;
                line-height:26px;
                text-align:center;
                font-weight:bold;
            }
        }
        .spot__info__walk{
            width: 100%;
            overflow: hidden;
            height: 40px;

            &>*{
                float: left;
                line-height: 40px;
            }

            &__name{
                width: 320px;
            }

        }

        .spot__info{
            width: 100%;
            box-sizing: border-box;
            padding-left: 20px;

            &__line{
                width: 100%;
                height: 40px;
                overflow: hidden;

                &:first-child{
                    /* text-align: center; */
                }

                &>*{
                    float: left;
                    line-height: 40px;
                }
            }

            &__name{
                width: 270px;
            }

            &__lineName{
                width: 24px;
                height: 24px;
                line-height:24px;
                margin: 0 13px;
                margin-top: 8px;
                border-radius: 30px;
                font-size:14px;
                font-weight:bold;
                text-align: center;
                margin-right: 50px;

                &--txt{
                    width: 50px;
                    margin-right: 36px;
                    text-align:center;
                }
            }

            &__stnName{
                width: 300px;
            }
            &__distance{
                width: 100px;
                text-align: center;
            }
        }
    }
}