html{
    /*-ms-overflow-style: none;*/
    width:100%;
    height:100%;
}
body{
    width:100%;
    height:100%;
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    position: relative;
    color: #444;
    min-width: 900px;
}
input{
    border-style:none;
}
input,button:focus {
  outline: none;
}

h1,h2,h3,h4,h5,h6,p,ul,li,div,html,body,img,a,input,button{
  margin:0;
  padding:0;
  border: none;
  vertical-align: baseline;
  font-weight: normal;
}
a{
    text-decoration: none;
}

textarea{
    resize: none;
    font-family: sans-serif;
}
ul,li{
  list-style:none;
}
p,h1 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
a,span{
    display: inline-block;
}
.displayNone{
    display: none !important;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
li{
    display: inline-block;
}
