.pages{
    height: 100%;
}
.loadingView{
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #555;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    &__txt{
        width: 100%;
        text-align: center;
        font-size: 60px;
        font-weight: bold;
    }
    &__img{
        margin: 0 auto;
        margin-top: -50px;
        display: block;
    }
}

header{
    width: 100%;
    height: 60px;
    position: relative;
    background-color: #4D5256;

    & nav{
        float: left;
        color: #ccc;
        height: 60px;

        & .nav{
            float: left;
            padding-left: 30px;

            &__drawer{
                display:none;
                width: 140px;
                margin-left: -40px;
                border: 1px solid #ccc;
                box-shadow: 1px 2px 2px #ccc;
                border-top:0;
            }

            &__item{
                float: left;
                line-height: 60px;
                width: 80px;
                text-align: center;
                margin-left: 40px;
                cursor: pointer;
                font-size: 17px;
                height: 52px;

                &:first-child{
                    margin-left:30px;
                }

                &:hover{
                    color:#fafafa;
                }

                &--hasDrawer{
                    &:hover{
                        & .nav__drawer{
                            display:block;
                        }
                    }
                }

                &--selected{
                    color: #fafafa;
                    box-sizing: border-box;
                    border-bottom: 2px solid #fafafa;
                }
            }

            & .nav__drawer{
                color:#555;
                position: relative;
                z-index: 999;
                padding:8px 0;
                background-color: #fff;

                &__item{
                    cursor: pointer;
                    height: 40px;
                    line-height: 40px;
                    &:hover{
                        background-color: #f5f5f5;
                        color:#333;
                    }
                    &--selected{
                        font-weight:bold;
                    }
                }
            }
            
        }

        & .worker_selector{
            margin-left: 40px;
            margin-top: 10px;
            height: 38px;
            width: 100px;
            padding-left: 4px;
            cursor: pointer;
            background-color: #eDf2f6
        }
    }
}
.wrap{
    position: relative;
    width: 100%;
    height: calc(100% - 60px);
    overflow: hidden;
    overflow-y: auto;
    z-index: 10;
    box-sizing: border-box; 
    padding: 30px;
}
