.selector{

    width: 180px;
    height: 50px;
    box-sizing: border-box;
    border: 2px solid #777;
    padding: 2px;
    border-radius: 2px;

    & .case{
        float: left;
        height: 42px;
        width: 86px;
        line-height: 42px;
        text-align: center;
        cursor: pointer;
        border-radius: 2px;
    }
    & .selected{
        background-color: #777;
        color: white;
    }

    &::after{
        content:"";
        clear: both;
        display: table;
    }
}

.blackScreen{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
