.spot{
.header{
    margin: 0 auto;
    width: 1080px;
    height: 60px;
    line-height: 60px;
    box-sizing: border-box;
    padding: 0 40px;
    border-bottom: 2px solid #aaa;
    overflow: hidden;
    & h2{
        float: left;
        margin-right: 30px;
    }
    & .order{
        float: left;
        margin-right: 12px;
        cursor: pointer;

        &:hover{
            text-decoration: underline;
        }

        &--selected{
            font-weight: bold;
        }
    }
}

.liner{
    margin: 0 auto;
    overflow: hidden;
    height: 50px;
    width: 1080px;
    line-height: 50px;

    &--header{
        margin-top:8px;
        border-bottom: 1px solid #999;
        padding-bottom: 8px;
    }

    &__cityName{
        float: left;
        width: 240px;
        text-align: center;
        font-size:17px;
        font-weight:bold;
    }
    &__status{
        float: left;
        width: 700px;
        text-align: center;
        cursor: default;

        &>span{
            margin: 0 10px;
            color: #bbb;
            font-size:17px;

            &.active{
                color: #333;
                font-weight: bold;
                cursor: pointer;
            }
        }
        &:hover{
            & .active{
                text-decoration: underline;
            }
        }
    }
    &__charge{
        float: left;
        width: 140px;
        text-align: center;
    }
}

}
