.spot{
    .wrapper, .header{
        margin:0;
        width:1275px;
    }
    .top, .result_box{
        overflow: hidden;
        width: 1275px;
        &>*{
            float: left;
            text-align: center;
            border-right: 1px solid #aaa;
            height: 45px;
            line-height: 50px;
            width: 45px;
            font-size: 14.5px;
        }

        & .result{
            &_name_ko{
                width: 260px;
            }
            &_name_en{
                width: 310px;
            }
            &_url{
                width: 310px;
            }
            &_remove{
                width: 80px;
            }
            &_save{
                width: 80px;
            }
        }
    }
    .top{
        border-bottom: 1px solid #777;
        border-top: 1px solid #777;
        & p{
            font-weight: bold;
            font-size: 17px;
        }
    }
    .result_box{
        border-bottom: 1px solid #ccc;
        &:hover{
            background-color: #fbfbfb;
            & input{
                background-color: #fbfbfb;
            }
        }
        & .result_remove{
            &:hover{
                background-color:#F8A1BE;
                color:white;
                font-weight: bold;
                cursor: pointer;
            }
        }
        & .result_save{
            &:hover{
                background-color:#8ABAD1;
                color:white;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }
    .return{
        float: left;
        cursor: pointer;
    }
    .redo_remove{
        float: left;
        cursor: pointer;
        margin-left: 30px;
    }
}

