html{
    /*-ms-overflow-style: none;*/
    width:100%;
    height:100%;
}
body{
    width:100%;
    height:100%;
    font-family: sans-serif;
    position: relative;
}
input{
    border-style:none;
}
h1,h2,h3,h4,h5,h6,p,ul,li,div,html,body,img,a,input,button{
  margin:0;
  padding:0;
  border: none;

}
a{
    text-decoration: none;
}
textarea{
    resize: none;
    font-family: sans-serif;
}
ul,li{
  list-style:none;
}
p,h1 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
/*직접 수정하지 말 것. gulp>sprite.css를 통해 자동 생성된 파일.*/
.icon{
    background-image: url('/assets/sprites/sprite-ac89a738.svg');
}
.icon--bluepin {
    width: 20px;
    height: 28px;
    background-position: 0 52.94117647058823%;
}
.icon--calendar {
    width: 24px;
    height: 24px;
    background-position: 27.77777777777778% 49.09090909090909%;
}
.icon--city {
    width: 24px;
    height: 24px;
    background-position: 61.111111111111114% 49.09090909090909%;
}
.icon--during {
    width: 16px;
    height: 16px;
    background-position: 60% 87.3015873015873%;
}
.icon--fee {
    width: 16px;
    height: 16px;
    background-position: 80% 87.3015873015873%;
}
.icon--logo {
    width: 80px;
    height: 27px;
    background-position: 0 0;
}
.icon--open {
    width: 16px;
    height: 16px;
    background-position: 100% 0;
}
.icon--reset {
    width: 24px;
    height: 24px;
    background-position: 0 100%;
}
.icon--share {
    width: 24px;
    height: 24px;
    background-position: 33.333333333333336% 100%;
}
.icon--web {
    width: 16px;
    height: 16px;
    background-position: 100% 25.396825396825395%;
}
.header{
    height: 56px;
    width: 100%;
    opacity: 0.98;
    background-color: #333333;
    -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
}
.header_logo{
        width: 80px;
        height: 27px;
        text-indent: 101%;
        overflow: hidden;
        display:inline-block;
        margin:13px 50px 0 60px;
        float: left;
    }
#app{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.wrapper{
    height: calc(100% - 56px);
    width: 100%;
    position: relative;
    overflow: hidden;
}
#map{
    width: calc(100% - 652px);
    height: 100%;
    float: left;
}
.selector{
    float: left;
    width: 380px;
    height: 100%;
    background-color: #fafafa;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.reco{
    float: right;
    width: 272px;
    overflow: hidden;
}
.selector_imgBox{
        width: 380px;
        height: 160px;
        overflow: hidden;
        position: relative;
    }
.selector_imgBox img{
            width: 400px;
            height: auto;
        }
.selector_optBox{
        width: 380px;
        height: 36px;
        
    }
.selector_infoBox{
        width: 380px;
        height: calc(100% - 252px);
        overflow: auto;
    }
.selector_infoBox .ib{
            -webkit-user-select: none;
               -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;
        }
.selector_infoBox .ib_box{
                overflow: hidden;
                width: 360px;
                height: 60px;
                cursor: pointer;
                color: #333333;
            }
.selector_infoBox .ib_box:hover{
                    color: #5d85ff;
                }
.selector_infoBox .ib_box:hover .ib_toggle{
                        background-image: url("./assets/list-minus.png");
                    }
.selector_infoBox .ib_pin{
                float: left;
                width: 32px;
                height: 32px;
                margin: 14px;
                background-image: url("./assets/pin-on.png");
            }
.selector_infoBox .ib_rank{
                float: left;
                height: 60px;
                line-height: 58px;
                font-size: 20px;
                letter-spacing: -0.6px;
                width: 36px;
            }
.selector_infoBox .ib_name{
                float: left;
                height: 60px;
                line-height: 59px;
                font-size:15px;
                font-weight: bold;
                letter-spacing: -0.8px;
                -webkit-user-select: none;
                   -moz-user-select: none;
                    -ms-user-select: none;
                        user-select: none;
            }
.selector_infoBox .ib_toggle{
                float: right;
                width: 32px;
                height: 32px;
                margin: 14px 2px;
                background-image: none;
            }
.selector_allBox{
        overflow: hidden;
        width: 380px;
        height: 56px;
    }
.selector_allBox>*{
            width: 96px;
            height: 28px;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            float: right;
            border-radius: 3px;
            border: solid 1px #e0e0e0;
            font-size: 13px;
            text-align:right;
            padding: 3px 12px 3px 8px;
            color: #555555;
            letter-spacing: -0.4px;
            cursor: pointer;
        }
.selector_allBox>*>p{
                float: right;
                margin-top: 1px;
            }
.selector_allBox>*>span{
                float: left;
                width: 20px;
                height: 20px;
                background-size: contain;
            }
.selector_allBox>.ab_unSelect{
            margin: 14px 20px 14px 8px;
        }
.selector_allBox .ab_on{
            background-image: url("./assets/pin-on.png");
        }
.selector_allBox .ab_off{
            background-image: url("./assets/pin-off.png");
        }
.selector_allBox>.ab_select{
            margin-top: 14px;
        }
.unSelected{
    color: #b4b2b8 !important;
}
.unSelected .ib_pin{
        background-image: url("./assets/pin-off.png");
    }
.unSelected:hover{
        color: #5d85ff !important;
    }
.unSelected:hover .ib_toggle{
            background-image: url("./assets/list-plus.png") !important;
        }
.reco_header{
        width: 100%;
        height: 52px;
        background-color: #fff;
        overflow: hidden;
    }
.reco_header>h2{
            float: left;
            color: #555555;
            font-size: 18px;
            line-height: 52px;
            margin-left: 20px;
        }
.reco_header>div{
            float: right;
            height: 52px;
            margin-right: 16px;
        }
.reco_filter{
        width: 100%;
        height: 220px;
        background-color: #f9f9f9;
        padding-top: 8px;
    }
.reco_filter_hint{
            margin-left: 20px;
            height: 16px;
            font-size: 13px;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: -0.2px;
            color: #9e9e9e;
            font-weight: bold;
            margin-bottom: 12px;
        }
.reco_filter_checkBoxDiv{
            width: 100%;
            overflow: hidden;
        }
.reco_filter_checkBoxDiv>input{
                display: none;
            }
.reco_filter_checkBoxDiv>label{
                margin: 0 0 16px 16px;
                float: left;
                width: 120px;
                font-size: 14px;
                height: 16px;
                line-height: 16px;
                letter-spacing: -0.4px;
                cursor: pointer;
                -webkit-user-select: none;
                   -moz-user-select: none;
                    -ms-user-select: none;
                        user-select: none;
            }
.reco_filter_checkBoxDiv>label:last-child{
                    width: calc(100% - 20px);
                }
.reco_filter_checkBoxDiv>label>span{
                    margin-right: 8px;
                    width: 16px;
                    height: 16px;
                    background-image:url("./assets/checkbox-off.png");
                    float: left;
                }
.reco_filter_checkBoxDiv input[type="checkbox"]:checked + label span {
                background-image:url("./assets/checkbox-on.png")
            }
.recoBox{
    width: 100%;
}
.recoBox_header{
        width: 100%;
        height: 70px;
        overflow: hidden;
    }
.recoBox_header>p{
            float: left;
            font-size: 24px;
            line-height: 28px;
            margin: 20px 0 0 20px;
            color:white;
            -webkit-user-select: none;
               -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;
        }
.recoBox_header>a{
            background-color: rgba(255, 255, 255, 0.1);
            border: solid 1px rgba(255, 255, 255, 0.8);
            color: white;
            line-height: 24px;
            height: 24px;
            width: 140px;
            font-size: 13px;
            text-align: center;
            letter-spacing: -0.4px;
            display: block;
            float: right;
            margin: 22px 20px 0 0;
            border-radius: 3px;
        }
.recoBox_areaName{
        width: 232px;
        margin-left: 20px;
        height: 24px;
        padding-bottom: 20px;
        font-size: 18px;
        letter-spacing: -0.4px;
        color: rgba(255,255,255,0.9);
        line-height: 24px;
    }
.recoBox_rating{
        height:96px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding:8px 20px 24px 20px;

    }
.recoBox_rating_liner{
            width:115px;
            height: 24px;
            float: left;
            overflow: hidden;
        }
.recoBox_rating_liner>.title{
                width: 84px;
                line-height: 16px;
                color: rgba(0,0,0,0.7);
                letter-spacing: -0.4px;
                font-size:13px;
                float: left;
                font-weight: bold;
            }
.recoBox_rating_liner>.rating{
                width: 12px;
                line-height: 16px;
                font-size: 14px;
                color:white;
                float: left;
                margin-left:4px;
            }
.recoBox_rating_liner:last-child{
                height: 16px;
            }
.recoBox_rating .leftLine{
            border-right:1px solid rgba(0,0,0,0.3);
        }
.recoBox_rating .rightLine>.title{
                margin-left:16px;
                width: 60px;
            }
.infoImage{ display: inline-block; background: url('./assets/ny.jpg') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left;  width: 240px; height: 160px; }
.ny_0 { background-position: -0px -0px;}
.ny_1 { background-position: -240px -0px;}
.ny_10 { background-position: -480px -0px;}
.ny_11 { background-position: -720px -0px;}
.ny_12 { background-position: -960px -0px;}
.ny_13 { background-position: -1200px -0px;}
.ny_14 { background-position: -1440px -0px;}
.ny_15 { background-position: -0px -160px;}
.ny_16 { background-position: -240px -160px;}
.ny_17 { background-position: -480px -160px;}
.ny_18 { background-position: -720px -160px;}
.ny_19 { background-position: -960px -160px;}
.ny_2 { background-position: -1200px -160px;}
.ny_20 { background-position: -1440px -160px;}
.ny_21 { background-position: -0px -320px;}
.ny_22 { background-position: -240px -320px;}
.ny_23 { background-position: -480px -320px;}
.ny_24 { background-position: -720px -320px;}
.ny_25 { background-position: -960px -320px;}
.ny_26 { background-position: -1200px -320px;}
.ny_27 { background-position: -1440px -320px;}
.ny_28 { background-position: -0px -480px;}
.ny_29 { background-position: -240px -480px;}
.ny_3 { background-position: -480px -480px;}
.ny_30 { background-position: -720px -480px;}
.ny_31 { background-position: -960px -480px;}
.ny_32 { background-position: -1200px -480px;}
.ny_33 { background-position: -1440px -480px;}
.ny_34 { background-position: -0px -640px;}
.ny_35 { background-position: -240px -640px;}
.ny_36 { background-position: -480px -640px;}
.ny_37 { background-position: -720px -640px;}
.ny_38 { background-position: -960px -640px;}
.ny_39 { background-position: -1200px -640px;}
.ny_4 { background-position: -1440px -640px;}
.ny_40 { background-position: -0px -800px;}
.ny_41 { background-position: -240px -800px;}
.ny_42 { background-position: -480px -800px;}
.ny_43 { background-position: -720px -800px;}
.ny_44 { background-position: -960px -800px;}
.ny_45 { background-position: -1200px -800px;}
.ny_46 { background-position: -1440px -800px;}
.ny_47 { background-position: -0px -960px;}
.ny_48 { background-position: -240px -960px;}
.ny_49 { background-position: -480px -960px;}
.ny_5 { background-position: -720px -960px;}
.ny_50 { background-position: -960px -960px;}
.ny_51 { background-position: -1200px -960px;}
.ny_52 { background-position: -1440px -960px;}
.ny_53 { background-position: -0px -1120px;}
.ny_54 { background-position: -240px -1120px;}
.ny_55 { background-position: -480px -1120px;}
.ny_56 { background-position: -720px -1120px;}
.ny_57 { background-position: -960px -1120px;}
.ny_6 { background-position: -1200px -1120px;}
.ny_7 { background-position: -1440px -1120px;}
.ny_8 { background-position: -0px -1280px;}
.ny_9 { background-position: -240px -1280px;}
.infowindow{
    width: 240px;
    overflow: hidden;
}
.infoTitle{
    font-size: 16px;
    margin: 20px 0 12px 0;
    line-height: 20px;
    font-weight: bold;
    color: #333333;
    letter-spacing: -0.7px;
    padding:0 16px;
    word-break:keep-all;
}
.infoDesc{
    font-size: 14px;
    line-height: 22px;
    color: #666666;
    font-weight: bold;
    margin-bottom: 8px;
    padding:0 16px;
    letter-spacing: -0.4px;
}
.gm-style-pbc+div>div:nth-child(2)>div:nth-child(4)>div{
    width: 240px !important;
    -webkit-transform:translateX(23px);
            transform:translateX(23px)
}
.gm-style-pbc+div>div:nth-child(2)>div:nth-child(4)>div>div:first-child>div:nth-child(2){
    width: 240px !important;
}
.gm-style-pbc+div>div:nth-child(2)>div:nth-child(4)>div>div:first-child>div:nth-child(4){
    width: 240px !important;
    top:0 !important;
    left:0 !important;
}
.gm-style-pbc+div>div:nth-child(2)>div:nth-child(4)>div>div:first-child>div:nth-child(3)>div:first-child{
    left: -30px !important;
}
.gm-style-pbc+div>div:nth-child(2)>div:nth-child(4)>div>div:first-child>div:nth-child(3)>div:nth-child(2){
    left: -14px !important;
}
.gm-style-pbc+div>div:nth-child(2)>div:nth-child(4)>div>div:first-child>div:first-child{
    -webkit-transform:translateX(-22px);
            transform:translateX(-22px);
}
/* 아래는 닫기 표시를 없애는 css인데, 요걸 추가해버리면 커스텀 iw 뿐만 아니라 모든 iw창에 닫기가 없어져버림 */
/* .gm-style-iw + div {display: none;} */
.gm-style-iw{
    top:0 !important;
    left:0 !important;
    width: 240px !important;
    border:none !important;
}