/*직접 수정하지 말 것. gulp>sprite.css를 통해 자동 생성된 파일.*/

{{#shapes}}
{{#first}}
.icon{
    background-image: url('./assets/sprites/{{{sprite}}}');
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
{{/first}}

.icon--{{base}} {
    width: {{width.outer}}px;
    height: {{height.outer}}px;
    background-position: {{position.relative.xy}};
}
{{/shapes}}
