.cv{
    width: calc(100% - 340px);
    position: absolute;
    top: 100px;
    right: 0;
    height: calc(100% - 100px);
    background-color: #2a2a2a;

    & .header{
        width: 100%;
        height: 80px;
        background-color: #2a2a2a;
        position: relative;
        z-index: 5;
        overflow: visible;

        & .filter, .order{
            width: 122px;
            border-radius: 1px;
            border: solid 1px #666666;
            float: left;
            cursor: pointer;
            position: relative;
            margin-top: 32px;
            z-index: 5;
            box-sizing: border-box;

            & .filterName, .orderName{
                font-size: 14px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 32px;
                color: #999999;
                float: left;
                margin-left: 12px;
            }
            & .icon{
                float: right;
                margin-right: 8px;
                margin-top: 12px;
            }

            & .drop_filter, .drop_order{
                position: absolute;
                top: 32px;
                width: 178px;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
                background-color: #2a2a2a;
                border: solid 1px #3d3d3d;
                line-height: 24px;
                padding: 14px 0;
                left: -1px;
                z-index: 4;
                background-color: #2a2a2a;
                display: none;

                & p{
                    font-size: 14px;
                    line-height: 36px;
                    color: #999999;
                    margin-left: 12px;

                    &:hover{
                        color: #dddddd;
                    }
                }
            }

            & .drop_order{
                width: 120px;
            }
        }
        & .filter{
            width: 180px;
            margin-left: 32px;
            margin-right: 12px;

            &:hover{
                & .drop_filter{
                    display: block;
                }
            }
        }
        & .order{
            &:hover{
                & .drop_order{
                    display: block;
                }
            }
        }

        & .showMap{
            float: right;
            margin: 28px 33px 0 0;
            width: 223px;
            height: 40px;
            border-radius: 3px;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
            background-color: #444444;
            border: solid 1px #4e4e4e;
            font-size: 16px;
            font-weight: 500;
            line-height: 28px;
            letter-spacing: -0.2px;
            color: #cfcfcf;
            cursor: pointer;
            box-sizing: border-box;
            text-align: right;
            padding-right: 16px;

            & .icon{
                float: left;
                margin: 2px 0 0 16px;
            }
        }
    }
    & .cardBox{
        width: 100%;
        height: calc(100% - 80px);
        box-sizing: border-box;
        padding: 32px 16px 16px 32px;
        overflow-x: auto;
        position: relative;
        z-index: 2;

        & .selected:hover{
            & .pin{
                animation-duration: 0.9s;
                animation-name: cardHover;
                animation-iteration-count: infinite;
                animation-timing-function:ease-out;
            }
        }
    }

    & .noResult{
        position: absolute;
        height: 60px;
        width: 100%;
        text-align: center;
        top: calc(50% - 30px);
        left: 0;
        color: #424242;
        font-size: 40px;
        z-index: 100;
    }
}

@keyframes cardHover {
  from {
      top: 18px;
      left: 18px;
      width: 8px;
      height: 8px;
      opacity: 1.0;
      background-color: rgba(41, 121, 255, 0.22);
      border: solid 1px rgba(41, 121, 255, 0.62);
  }

  to {
      top: 6px;
      left: 6px;
      width: 32px;
      height: 32px;
      opacity: 0.1;
      border: solid 1px rgba(41, 121, 255, 0.8);
  }
}
@keyframes offCardHover {
  from {
      top: 18px;
      left: 18px;
      width: 8px;
      height: 8px;
      opacity: 1.0;
      background-color: rgba(197, 197, 197, 0.32);
      border: solid 1px rgba(197, 197, 197, 0.82);
  }

  to {
      top: 6px;
      left: 6px;
      width: 32px;
      height: 32px;
      opacity: 0.1;
      border: solid 1px rgba(197, 197, 197, 0.9);
  }
}

.cardBox .cardFriendOver{
    & .pin{
        animation-duration: 0.9s;
        animation-name: offCardHover;
        animation-iteration-count: infinite;
        animation-timing-function:ease-out;
    }
    & .neonSign{
        display: block !important;
    }
    & .spotCard{
        border: solid 3px #4285f4;
    }
}
.selected.cardFriendOver{
    & .pin{
        animation-duration: 0.9s;
        animation-name: cardHover;
        animation-iteration-count: infinite;
        animation-timing-function:ease-out;
    }
}
.spotCardWrapper{
    float: left;
    width: 208px;
    height: 348px;
    margin-right: 16px;
    margin-bottom: 16px;
    position: relative;

    .neonSign{
        top: 2px;
        left: 2px;
        width: 206px;
        height: 342px;
        position: absolute;
        border-radius: 3px;
        overflow: hidden;
        filter: blur(2px);
        background-color: #4285f4;
        z-index: 1;
        display: none;
    }

    &:hover .neonSign{
        display: block;
    }
}
.spotCardWrapper.unSelected{
    opacity: 0.5;
}
.spotCardWrapper.unSelected .imgOut{
    display: block !important;
}

.spotCard{
    top: 1px;
    left: 1px;
    width: 200px;
    height: 336px;
    background-color: white;
    position: absolute;
    border-radius: 3px;
    overflow: hidden;
    z-index: 2;

    &:hover{
        border: solid 3px #4285f4;

        & .pin{
            animation-duration: 0.9s;
            animation-name: offCardHover;
            animation-iteration-count: infinite;
            animation-timing-function:ease-out;
        }
    }

    & .imgSizer{
        width: 200px;
        height: 134px;
        overflow: hidden;
        position: relative;

        & .imgOut{
            position: absolute;
            z-index: 30;
            left: -1px;
            top: -1px;
            display: none;
        }
    }

    & .image{
        width: 100%;
        height: 134px;
        background-color: black;
    }
    & .rank{
        width: 40px;
        height: 18px;
        position: absolute;
        top: 125px;
        left: 10px;
        border-radius: 39px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
        background-color: #ffffff;
        border: solid 1px #ffffff;
        color: #777777;
        line-height: 18px;
        text-align: center;
        font-size: 12px;
        z-index: 40;
    }
    & .contents{
        padding: 17px 10px 0 10px;
        box-sizing: border-box;
        position: relative;

        & .name_ko{
            height: 20px;
            font-size: 14px;
            font-weight: bold;
            line-height: 20px;
            color: #444444;
        }

        & .name_en{
            height: 20px;
            font-size: 12px;
            line-height: 20px;
            color: #999999;
        }

        & .description{
            width: 180px;
            height: 80px;
            margin-top: 10px;
            font-size: 13px;
            line-height: 20px;
            letter-spacing: -0.6px;
            color: #555555;
            padding-bottom: 10px;
            border-bottom: solid 1px #f2f2f2;
        }
    }

    & .footer{
        width: 100%;
        height: 44px;
        box-sizing: border-box;
        position: relative;

        & .pincenter{
            position: absolute;
            top: 9px;
            left: 9px;
            background-image: url("./assets/pin-list-off.svg");
            background-position: center;
            width: 28px;
            height: 28px;
            background-size: contain;
            z-index: 2;
            border-radius: 36px;
        }

        & .pin{
            position: absolute;
            top: 10px;
            left: 10px;
            width: 24px;
            height: 24px;
            border-radius: 36px;
        }

        & .hint, .hintOut{
            position: absolute;
            right: 15px;
            line-height: 44px;
            font-size: 13px;
            color: #888888;
            display: none;
        }

        & .hint{
            color: #4285f4;
            display: none;
        }
    }
}
