.hotelCard_map{
    width: 200px;
    height: 240px;
    top: 0;
    overflow: hidden;
    position: relative;

    &>.imgSizer{
        width: 200px;
        height: 134px;
        overflow: hidden;
    }

    & .iw_rank{
        position: absolute;
        top: 0;
        left: 12px;

        & img{
            position: absolute;
        }

        & p{
            width: 32px;
            top: 12px;
            color: #fafafa;
            font-size: 12px;
            text-align: center;
            position: absolute;
        }
    }

    & .contents{
        padding: 10px;
        box-sizing: border-box;

        & .name_ko{
            margin-top: 2px;
            color: #444;
            font-size: 14px;
            line-height: 20px;
            height: 20px;
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        & .name_en{
            color:#999;
            font-size: 12px;
            line-height: 20px;
            height: 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        & .liner{
            overflow: hidden;
            margin-top: 4px;
            &>*{
                float: left;
            }
            &:first-child{
                margin-top: 8px;
            }
            & .subTitle{
                color:#666;
                line-height: 20px;
                margin-right: 8px;
            }
            & .icon{
                margin-top: 2px;
            }

            & .ratingScore{
                width: 34px;
                height: 16px;
                border-radius: 3px;
                background-color: #f5f5f5;
                margin-top: 2px;
                color: #666;
                font-size: 14px;
                text-align: center;
                font-weight: bold;
            }
        }
    }


}
