.wrap_hotelDetail{
    width: 100%;
    min-width: 1080px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
    padding: 40px 0;
    box-sizing: border-box;

    & .closeHotelDetail{
        position: fixed;
        right: 12px;
        top: 12px;
    }

    & .iconWrap{
        height: 32px;
        position: absolute;
        top: 50%;
        margin-top: -16px;
        right: 0;
    }
    & .iconRight,.iconLeft{
        position: relative;
        top: 50%;
        margin-top: -16px;
        left: 50%;
        margin-left: -16px;
    }
    &>.pre,.next{
        float: left;
        width: 32px;
        height: 100%;
        position: relative;
    }
    &>.hotelDetail{
        width: calc(100% - 64px);
        min-width: 1008px;
        max-width: 1302px;
        height: 100%;
        float: left;
        border-radius: 2px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
        z-index: 10000;

        &>.wrap{
            width: 100%;
            background-color: white;
            height: 100%;
        }
    }
}
@media screen and (max-width: 1080px) {
                .wrap_hotelDetail>.pre,.next{
                    display: none !important;
                }
                .wrap_hotelDetail>.hotelDetail{
                    width: 1080px !important;
                }
            }
@media screen and (min-width: 1366px) {
                .wrap_hotelDetail>.pre,.next{
                    width: calc(50% - 652px) !important;
                }
            }

.hotelDetail{
    & .hd_sidebar{
        width: 320px;
        height: 100%;
        border-right: 1px solid #e8e8e8;
        box-sizing: border-box;
        float: left;

        & .cityName_en{
            height: 68px;
            font-size: 18px;
            line-height: 68px;
            color: #444444;
            box-sizing: border-box;
            padding-left: 20px;
            width: 100%;
            font-weight: bold;
            border-bottom: solid 1px #e8e8e8;
        }
        & .counter{
            border-bottom: solid 1px #e8e8e8;
            box-sizing: border-box;
            padding: 16px 20px;
            font-size: 14px;
        }

        & .rankAndName{
            padding: 32px 20px 12px 20px;
            overflow: hidden;
            & .rankDiv{
                float: left;
                margin-right: 8px;
                position: relative;
                width: 32px;
                height: 40px;

                & img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 3;
                }

                & p{
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 4;
                    font-size: 12px;
                    color: white;
                    text-align: center;
                    line-height: 40px;
                    width: 32px;
                }
            }
            & .nameDiv{
                float: left;

                & .hotelName_ko{
                    height: 24px;
                    line-height: 24px;
                    font-size: 18px;
                    font-weight: bold;
                    color: #202225;
                    width: 236px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    word-wrap: normal;
                }
                & .hotelName_en{
                    font-size: 16px;
                    color: #999999;
                    line-height: 20px;
                    height: 20px;
                    width: 236px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    word-wrap: normal;
                }
            }
        }

        & .starAndRating{
            overflow: hidden;
            height: 20px;
            width: 100%;
            box-sizing: border-box;
            padding-left: 20px;

            & .subTitle{
                float: left;
                line-height: 20px;
                font-size: 14px;
                color: #666666;
                margin: 0 8px 0 18px;
                font-weight: bold;
                &:first-child{
                    margin-left: 2px;
                }
            }

            & .icon{
                float: left;
                margin-top: 3px;
            }

            & .ratingScore{
                margin-top: 1px;
                float: left;
                width: 34px;
                height: 18px;
                background-color: #f5f5f5;
                border-radius: 3px;
                color: #666666;
                line-height: 18px;
                font-size: 14px;
                text-align: center;
                font-weight: bold;
            }
        }

        & .imgFrame{
            width: 280px;
            height: 186px;
            overflow: hidden;
            margin: 16px 0 0 20px;
            & img{
                width: 100%;
                height: auto;
            }
        }

        & .std{
            color: #444444;
            width: 280px;
            font-size: 13px;
            margin: 16px 0 0 20px;
            line-height: 20px;
            height: 20px;
        }

        & .hotel_price{
            width: 300px;
            overflow: hidden;
            margin-top: 8px;
            height: 24px;

            & .current{
                float: right;
                font-size: 18px;
                letter-spacing: -0.2px;
                text-align: right;
                color: #f04c4c;
                line-height: 24px;
                font-weight: bold;
            }

            & .crossedOut{
                float: right;
                margin-right: 16px;
                line-height: 24px;
                font-size: 15px;
                color: #a7a7a7;
                text-decoration: line-through;
                font-weight: bold;
            }
        }

        & .goReservation{
            width: 280px;
            height: 40px;
            border-radius: 3px;
            background-color: #444444;
            margin: 24px 0 0 20px;

            & p{
                width: 280px;
                text-align: center;
                line-height: 40px;
                font-size: 14px;
                color: white;
            }
        }
    }

    .hd_contents{
        float: left;
        width: calc(100% - 320px);
        height: 100%;
        overflow-y: scroll;

        & .hotelName{
            height: 68px;
            width: 100%;
            padding:12px 0 0 24px;
            box-sizing: border-box;
            border-bottom: 1px solid #e8e8e8;
            & .hotelName_ko{
                height: 24px;
                line-height: 24px;
                font-size: 18px;
                font-weight: bold;
                color: #202225;
            }
            & .hotelName_en{
                font-size: 16px;
                color: #999999;
                line-height: 20px;
                height: 20px;
            }
        }

        & .wrap{
            width: 100%;
            box-sizing: border-box;
            padding: 32px 22px;
            background-color: #fafafa;

            & .subTitle{
                margin-bottom: 16px;
                font-size: 18px;
                font-weight: bold;
                line-height: 20px;
                color: #444444;
            }

            & .scoreCard{
                width: 100%;
                height: auto;
                border-radius: 3px;
                background-color: #ffffff;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
                margin-bottom: 8px;
                overflow: hidden;
                display: flex;
                align-items: center;

                & .iconDiv{
                    width: 54px;
                    float: left;
                    height: 54px;
                    margin: 0 18px;
                    background-color: #f4f4f4;
                    border-radius: 100px;

                    & .icon{
                        margin:13px;
                    }
                }

                & .infoDiv{
                    width: calc(100% - 90px);
                    float: left;

                    & .topper{
                        height: 20px;
                        padding-top: 10px;
                        overflow: hidden;
                        width: 100%;
                        margin-bottom: 6px;

                        &>*{
                            float: left;
                            line-height: 20px;
                        }
                        & .criteria{
                            color: #444444;
                            font-weight: bold;
                            margin-right: 10px;
                        }
                        & .scoreOval{
                            width: 8px;
                            height: 8px;
                            border-radius: 8px;
                            margin-top: 6px;
                            margin-right: 2px;
                            background-color: #c5c5c5;
                        }
                        & .so_full{
                            background-color: #444444;
                        }
                        & .so_half{
                            background-image: url("./assets/round-half.svg")
                        }
                        & .score{
                            margin-left: 4px;
                            font-size: 13px;
                            color: #666666;
                        }
                    }

                    & .infoTxt{
                        padding-bottom: 10px;
                        font-size: 14px;
                        color: #777777;
                        line-height: 22px;
                    }
                }
            }
            & .mt70{
                margin-top: 70px;
            }

            & .hotel_foot,.hotel_metro{
                overflow: hidden;

                & .footer{
                    overflow: hidden;
                    & p{
                        float: right;
                        margin-right: 14px;
                        line-height: 44px;
                        font-size: 12px;
                        color: #777;
                    }
                }
            }
            & .hotel_metro{
                & .description>p{
                    line-height: 20px;
                }
            }
        }
    }
    & .lineName{
        height: 16px;
        width: 16px;
        border-radius: 20px;
        background-color: red;
        line-height: 16px;
        text-align: center;
        color:white;
        font-size: 11px;
    }

    & .ln_{
        &A{background-color: #0039A6;}
        &C{background-color: #0039A6;}
        &E{background-color: #0039A6;}
        &B{background-color: #FF6319;}
        &D{background-color: #FF6319;}
        &F{background-color: #FF6319;}
        &M{background-color: #FF6319;}
        &G{background-color: #6cbe45;}
        &J{background-color: #996633;}
        &Z{background-color: #996633;}
    }
}

.hotel_foot,.hotel_metro{
    & .spotCard{
        border-radius: 3px;
        box-shadow: 0 1px 2px 0 rgba(25, 25, 25, 0.2);
        background-color: #ffffff;
        border: solid 1px #e2e2e2;
        cursor: pointer;
    }
}

.hotel_metro{
    & .spotCardWrapper{
        height: 436px;

        & .spotCard{
            height: 432px;

            & .description{
                height: 180px;

                &>p{
                    margin-bottom: 8px;
                }
            }
        }
    }

}
