#app{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.wrapper{
    height: calc(100% - 56px);
    width: 100%;
    position: relative;
    overflow: hidden;
}
#map{
    width: calc(100% - 652px);
    height: 100%;
    float: left;
}
.selector{
    float: left;
    width: 380px;
    height: 100%;
    background-color: #fafafa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.reco{
    float: right;
    width: 272px;
    overflow: hidden;
}