.infoImage{ display: inline-block; background: url('./assets/ny.jpg') no-repeat; overflow: hidden; text-indent: 101%; text-align: left; width: 240px; height: 160px; transform: scale(0.84,0.84); transform-origin: left top}

.ny_0 { background-position: -0px -0px;}
.ny_1 { background-position: -240px -0px;}
.ny_10 { background-position: -480px -0px;}
.ny_11 { background-position: -720px -0px;}
.ny_12 { background-position: -960px -0px;}
.ny_13 { background-position: -1200px -0px;}
.ny_14 { background-position: -1440px -0px;}
.ny_15 { background-position: -0px -160px;}
.ny_16 { background-position: -240px -160px;}
.ny_17 { background-position: -480px -160px;}
.ny_18 { background-position: -720px -160px;}
.ny_19 { background-position: -960px -160px;}
.ny_2 { background-position: -1200px -160px;}
.ny_20 { background-position: -1440px -160px;}
.ny_21 { background-position: -0px -320px;}
.ny_22 { background-position: -240px -320px;}
.ny_23 { background-position: -480px -320px;}
.ny_24 { background-position: -720px -320px;}
.ny_25 { background-position: -960px -320px;}
.ny_26 { background-position: -1200px -320px;}
.ny_27 { background-position: -1440px -320px;}
.ny_28 { background-position: -0px -480px;}
.ny_29 { background-position: -240px -480px;}
.ny_3 { background-position: -480px -480px;}
.ny_30 { background-position: -720px -480px;}
.ny_31 { background-position: -960px -480px;}
.ny_32 { background-position: -1200px -480px;}
.ny_33 { background-position: -1440px -480px;}
.ny_34 { background-position: -0px -640px;}
.ny_35 { background-position: -240px -640px;}
.ny_36 { background-position: -480px -640px;}
.ny_37 { background-position: -720px -640px;}
.ny_38 { background-position: -960px -640px;}
.ny_39 { background-position: -1200px -640px;}
.ny_4 { background-position: -1440px -640px;}
.ny_40 { background-position: -0px -800px;}
.ny_41 { background-position: -240px -800px;}
.ny_42 { background-position: -480px -800px;}
.ny_43 { background-position: -720px -800px;}
.ny_44 { background-position: -960px -800px;}
.ny_45 { background-position: -1200px -800px;}
.ny_46 { background-position: -1440px -800px;}
.ny_47 { background-position: -0px -960px;}
.ny_48 { background-position: -240px -960px;}
.ny_49 { background-position: -480px -960px;}
.ny_5 { background-position: -720px -960px;}
.ny_50 { background-position: -960px -960px;}
.ny_51 { background-position: -1200px -960px;}
.ny_52 { background-position: -1440px -960px;}
.ny_53 { background-position: -0px -1120px;}
.ny_54 { background-position: -240px -1120px;}
.ny_55 { background-position: -480px -1120px;}
.ny_56 { background-position: -720px -1120px;}
.ny_57 { background-position: -960px -1120px;}
.ny_58 { background-position: -1200px -1120px;}
.ny_6 { background-position: -1440px -1120px;}
.ny_7 { background-position: -0px -1280px;}
.ny_8 { background-position: -240px -1280px;}
.ny_9 { background-position: -480px -1280px;}
