@keyframes pinHover {
  from {
      width: 12px;
      height: 12px;
      top: 14px;
      left: 14px;
      opacity: 1.0;
      background-color: rgba(41, 121, 255, 0.22);
      border: solid 1px rgba(41, 121, 255, 0.62);
  }

  to {
      width: 44px;
      height: 44px;
      top: -2px;
      left: -2px;
      opacity: 0.1;
      border: solid 1px rgba(41, 121, 255, 0.8);
  }
}
@keyframes offHover {
  from {
      width: 12px;
      height: 12px;
      top: 14px;
      left: 14px;
      opacity: 1.0;
      background-color: rgba(197, 197, 197, 0.32);
      border: solid 1px rgba(197, 197, 197, 0.82);
  }

  to {
      width: 44px;
      height: 44px;
      top: -2px;
      left: -2px;
      opacity: 0.1;
      border: solid 1px rgba(197, 197, 197, 0.9);
  }
}
.pinDiv{
    width: 40px;
    height: 40px;

    & .pincenter{
        position: absolute;
        top: 3px;
        left: 3px;
        background-image: url("./assets/pin-list-off.svg");
        width: 36px;
        height: 36px;
        z-index: 2;
        border-radius: 36px;
    }

    & .pin{
        position: absolute;
        top: 4px;
        left: 4px;
        width: 32px;
        height: 32px;
        border-radius: 36px;
    }
}

.spotBox:hover{
    & .pinDiv .pin{
        animation-duration: 0.9s;
        animation-name: offHover;
        animation-iteration-count: infinite;
        animation-timing-function:ease-out;
    }
}
.spotFriendOver{
    background-color: #CFDDEC !important;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.12), 0 0 10px 0 rgba(0, 0, 0, 0.04) !important;
    z-index: 4;
    position: relative;

    & .pinDiv .pin{
        animation-duration: 0.9s;
        animation-name: offHover;
        animation-iteration-count: infinite;
        animation-timing-function:ease-out;
    }
}

.spotFriendOver.selected{
    & .pinDiv .pin{
        animation-duration: 0.9s;
        animation-name: pinHover;
        animation-iteration-count: infinite;
        animation-timing-function:ease-out;
    }
}

.selected{
    &:hover{
        & .pinDiv .pin{
            animation-duration: 0.9s;
            animation-name: pinHover;
            animation-iteration-count: infinite;
            animation-timing-function:ease-out;
        }
    }

    & .pincenter{
        background-image: url("./assets/pin-list-on.svg") !important;
    }

    & .pin{
        background-color: rgba(41, 121, 255, 0.12);
        border: solid 1px rgba(41, 121, 255, 0.32);
    }
}

.counter{
    & .pincenter{
        background-image: url("./assets/pin-list-on.svg") !important;
    }

    & .pin{
        background-color: rgba(41, 121, 255, 0.12);
        border: solid 1px rgba(41, 121, 255, 0.32);
    }
}


#markerOn_57 img {
  animation: pulse .5s infinite alternate;
  -webkit-animation: pulse .5s infinite alternate;
  transform-origin: center;
  -webkit-transform-origin: center;
}

.ab_select .pin{
    background-color: rgba(0,0,0,0);
    border: none;
}
