.wrapper.hotel>.sb{
    width: 384px;

    & .spot_wrap{
        display: none;
    }
    & .hotel_wrap{
        display:block;
    }
}

.sb{
    float: left;
    width: 340px;
    height: 100%;
    box-shadow: 4px 0 15px 0 rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 2;

    & .spot_wrap{
        width: 340px;
        height: 100%;
        position: relative;
        z-index: 2;
    }

    & .hotel_wrap{
        display:none;
    }
}
